@model TiendaVirtual.Data.Entities.Estado

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>Estas seguro de eliminar este departamento/estado?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroCiudades)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroCiudades)
        </dd>
    </dl>

    
    <form asp-action="Delete" mt-3>
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-outline-danger" /> 
        <a asp-action="Inicio" class="btn btn-outline-success">Regresar</a>
    </form>
</div>
